################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/learning_time_line/API Core/8-24/task 2/task 2/Program.cs
